<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392295933121-cietcdkdeeqq7j6kj4d5jfkkkg1indiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392295933121-cietcdkdeeqq7j6kj4d5jfkkkg1indiv</string>
	<key>API_KEY</key>
	<string>AIzaSyD_EKBvzOVkQC4zdsZj_bwuvnK6dHoX9co</string>
	<key>GCM_SENDER_ID</key>
	<string>392295933121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterForVeryBeginners</string>
	<key>PROJECT_ID</key>
	<string>bootcamp-11142</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamp-11142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392295933121:ios:f4e38419aa09d065896040</string>
	<key>DATABASE_URL</key>
	<string>https://bootcamp-11142.firebaseio.com</string>
</dict>
</plist>